# macOS
.DS_Store

# npm
/node_modules

# React Native
/build
/.expo
/.expo-shared
*.log

# Yarn
/yarn-error.log

# Android
android/app/build
android/gradle
android/local.properties
android/.idea

# iOS
ios/Pods
ios/build
ios/DerivedData
ios/*.lock
ios/*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
